/* Color overrides and settings relating to themes
 - this file gets apended to when someone runs the skin config front-end so watch out that it doesn't grow too ridculously big :) 
*/
body
{
    border-top:none;
    color:#555;
}

#content a, #content a:active, #content a:visited, #subNavigation a, #subNavigation a:active, #subNavigation a:visited
{
    color: #3688AF;
}

 #content a,  #content a:active,  #content a:visited,  #subNavigation a,  #subNavigation a:active,  #subNavigation a:visited
{
    color: #2D7293;
} 

/* Colours defaults start here (Black, White and Blue) */


/* Navigation */
#topNavigation li a
{
    color: #fff;
    color: rgba(255,255,255,0.9);
    backround-color: #333;
    background-color: rgba(255,255,255,0.03);
    text-shadow: 0px 1px 1px rgb(40,40,40);
    -o-text-shadow: 0px 1px 1px rgba(0,0,0,0.8);
    border: solid 1px rgba(255,255,255,0.05);
}

#topNavigation li a:hover, #topNavigation li.current a
{
    background-color: #333;
    background-color: rgba(255,255,255,0.2);
    background: -moz-linear-gradient(center bottom,rgba(255,255,255,0.05) 0%, rgba(255,255,255,0.25) 100%) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear,left top, left bottom,color-stop(0, rgba(255,255,255,0.25)),color-stop(1, rgba(255,255,255,0.05)));
    border: solid 1px rgba(255,255,255,0);
}

#topNavigation li.current span.marker
{
    background: #fff;
}

#subNavigation li a
{
    border-left: solid 1px #ccc;
}

#top
{
    /* Some joker wanted ie support */
    color: #fff;
    filter: progid:DXImageTransform.Microsoft.gradient( endColorstr=#000000 startColorstr=#555555);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient( endColorstr=#000000 startColorstr=#555555)";
    background-color: #333;
    background-color: -moz-linear-gradient(center bottom , #000 0%, #555 100%);
    background-color: -webkit-gradient(linear, left top, left bottom, color-stop(1, #000), color-stop(0, #555));
    background-repeat: repeat-x;
    border-top: solid 1px rgb(62,62,62);
}

#top a
{
    color: #fff;
    color: rgba(255,255,255,0.9);
}

.top
{
    background-image: url(/css/feijoa/scratch2.png);
    background-position: top;
    background-repeat: no-repeat;
}

/* Site Name & Description */
#siteName
{
    text-shadow: 1px 1px 1px rgba(40,40,40, 0.7);
}

#siteName a
{
    color: #fff;
}

#siteDescription
{
    color: rgb(140,210,236);
    -moz-text-shadow: 1px 1px 1px rgba(0,0,0,0.6);
    -webkit-text-shadow: 1px 1px 1px rgba(0,0,0,0.6);
    text-shadow: 1px 1px 2px rgba(0,0,0,0.6);
    border-left: 1px solid rgba(255,255,255,0.2);
    border-bottom: none;
}

#body h2
{
    border-bottom: 1px dotted rgba(54, 54, 54, 0.3);
}

/* Meta Data Styles */
#content .entry-meta a, #content .meta, #content a.tagweight0, #content a.tagweight1, #content a.tagweight2, #content a.tagweight3, #content a.tagweight4, #content a.tagweight5
{
    color: #fff;
    background: rgba(54,136,175, 0.6);
}

#content .comments-link a
{
    color: #fff;
    background: #333;
}

a.tagweight0
{
    background: rgba(54,136,175, 0.1);
}

a.tagweight1
{
    background: rgba(54,136,175, 0.6);
}

a.tagweight2, a.tagweight3, a.tagweight4
{
    background: rgba(54,136,175, 0.9);
}

.entry-date
{
    color: #aaa;
}

.author .fn
{
    color: #333;
}

small
{
    color: #999999;
}

.error
{
    color: #fff;
    background: #ff0000;
}

.meta-sep
{
    color: transparent;
    border-right: 1px solid #ccc;
}

/* Comment Styles */
#gravatar, .commentlist .photo
{
    box-shadow: -1px 3px 3px rgba(30,30,30, 0.3);
    -moz-box-shadow: -1px 3px 3px rgba(30,30,30, 0.3);
    -webkit-box-shadow: -1px 3px 3px rgba(30,30,30, 0.3);
}

li.comment
{
    border-bottom: dotted 1px #ccc;
}

ol.commentlist li
{
    background: rgba(255,255,255,0.7);
}

.commentlist .photo
{
    border: 2px solid #3688AF;
}

#commentPosted
{
    background: #3688AF;
    color: #fff;
}

#comments, #tagcloud, #sidebar
{
    border-left: 1px dotted #ccc;
}

.comment-meta
{
    color: #999999;
}

.entry-meta
{
    border-top: dotted 1px #ccc;
}

.entry-content img
{
    border: 1px solid #ccc;
    box-shadow: -1px 1px 3px rgba(30,30,30, 0.3);
    -moz-box-shadow: -1px 1px 3px rgba(30,30,30, 0.3);
    -webkit-box-shadow: -1px 1px 3px rgba(30,30,30, 0.3); /*-moz-transform:rotate(-1deg);         -webkit-transform:rotate(-1deg);*/
}

.image-text
{
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.comments-link a
{
    background: #333 !important;
}

#archive h3, #archieve h3
{
    border-bottom: 1px solid #ccc;
}
#archive h4, #archieve h4
{
    background-color: #efefef;
}

#gravatar, .commentlist .photo
{
    border: 4px solid #3688AF;
    box-shadow: -1px 3px 3px rgba(30,30,30, 0.3);
    -moz-box-shadow: -1px 3px 3px rgba(30,30,30, 0.3);
    -webkit-box-shadow: -1px 3px 3px rgba(30,30,30, 0.3);
}

.commentlist .photo
{
    border: 2px solid #3688AF;
}

#commentPosted
{
    background: #3688AF;
    color: #fff;
}

#comments, #tagcloud
{
    border-left: 1px dotted #ccc;
}

#comments h3, #tagcloud h3, #respond h3, #sidebar h3, #tagcloud .alt h3
{
    color: #333;
    text-shadow: 0px -1px 1px rgba(0,0,0,0.3);
    border-bottom: 1px dotted #ccc;
}

input.error, #respond .form-input input.error
{
    background: #fff;
    color: #000;
    border: 2px solid #ff0000;
}

#blogroll ul li
{
    background: url("/css/feijoa/tinyarrow.png") no-repeat scroll left 4px;
}

.formcontainer
{
    background: #fff;
}

#respond .form-input input, #respond .form-input textarea, #respond .form-submit input
{
    background: #efefef;
    border: 1px solid rgba(80,80,80, 0.2);
}

#respond .form-input input:focus, #respond .form-input textarea:focus
{
    border: 1px solid rgba(45,45,45, 0.9);
}

#respond .form-submit input, fieldset input[type=submit]
{
    background: #3688AF;
    color: #fff;
    text-shadow: 1px 1px 2px #3688AF;
    box-shadow: -1px 1px 8px rgba(30,30,30, 0.2);
    -moz-box-shadow: -1px 1px 8px rgba(30,30,30, 0.2);
    -webkit-box-shadow: -1px 1px 8px rgba(30,30,30, 0.2);
    -pie-background: linear-gradient(90deg, #84b5ce, rgba(54, 136, 175)); /*PIE /* I know I probably shouldn't */
    background-image: url(/css/feijoa/gradient-black-bottom.jpg);
    background-image: -moz-linear-gradient(center bottom , rgba(54, 136, 175, 1)  0%, rgba(54, 136, 175, 0.6) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(1, rgba(54, 136, 175, 1)), color-stop(0, rgba(54, 136, 175, 0.6)));
    background-repeat: repeat-x;
    border: 1px solid rgba(54, 136, 175, 0.9);
}

#respond h3, #tagcloud .alt h3
{
    color: #333;
    border-bottom: solid 1px #ccc;
    background: none;
}

#related ul
{
    background: #EFEFEF;
    background: -moz-linear-gradient(top, rgb(245,245,245) 0, rgb(255,255,255) 30%, rgb(245,245,245) 100%) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear,left top, left bottom,color-stop(0, rgb(245,245,245)),color-stop(0.3, rgb(255,255,255)), color-stop(1, rgb(245,245,245)));
    border-top: 1px dotted #ccc;
    border-bottom: 1px dotted #ccc;
}

#related ul li
{
    background: url(feijoa/post.png) no-repeat #fff;
    -moz-box-shadow: 0px -2px 5px #ccc;
    -webkit-box-shadow: 0px -2px 5px #ccc;
} 

ul.helper-links li a
{
    border-right: 1px solid #ccc;
}

 ul.helper-links li a
{
    border-right: 1px solid #333;
}

.entry-content em
{
    color: #3688AF;
}

span.blog
{
    box-shadow: 1px 1px 3px #CCCCCC;
    -moz-box-shadow: 1px 1px 3px #CCCCCC;
    -webkit-box-shadow: 1px 1px 3px #CCCCCC;
}

#footer
{
    border-top: 1px solid #ccc;
    border-top: 1px solid rgba(110,110,110,0.6);
}

 #footer
{
    border-top: 1px solid #333;
    border-top: 1px solid rgba(255,255,255,0.1);
}

.footer
{
    background-image: url(/css/feijoa/scratch2.png);
    background-position: 0 -30px;
    background-repeat: no-repeat;
}

#footer .colour-filter
{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: #ccc; 
    filter: progid:DXImageTransform.Microsoft.gradient(endColorstr=#cccccc startColorstr=#ffffff); /* not because I want it to be the same in every browser */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(endColorstr=#cccccc startColorstr=#ffffff)";
    background-image: url(feijoa/gradient-black-bottom.jpg);
    background-image: -moz-linear-gradient(center bottom , rgba(50,50,50,0.4)  0%, rgba(250,250,250,0.9) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(1, rgba(50,50,50,0.4)), color-stop(0, rgba(250,250,250,0.9)));
    background-repeat: repeat-x;
    opacity:0.4;
}

#twitter
{
    background: url("/css/feijoa/footer-gfx.png") no-repeat scroll right 2px transparent;
}

 #twitter
{
    background-position: right -65px;
}

#feijoa
{
    background: url("/css/feijoa/footer-gfx.png") no-repeat scroll right -129px transparent;
}

 #feijoa
{
    background-position: right -194px;
}

#rss
{
    background: url("/css/feijoa/footer-gfx.png") no-repeat scroll right -200px transparent;
}

 
/* Dark Theme */
 html,  #body
{
    background: #000 !important;
}

#themetype
{
    color:#fff;
    color: rgba(255,255,255, 0.5);
    background: #000;
}

#themetype #top
{
    filter: progid:DXImageTransform.Microsoft.gradient( endColorstr=#eeeeee startColorstr=#999999);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient( endColorstr=#eeeeee startColorstr=#999999)";
    background-color: #999999;
    background-image: -moz-linear-gradient(center bottom , #eeeeee 0%, #999999 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(1, #eeeeee), color-stop(0, #999999));
    border-top: solid 1px #fff;
    border-top: solid 1px rgba(255,255,255,0.6);
}

#themetype #siteName
{
    text-shadow: 1px 1px 1px #fff;
    text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
}

#themetype #siteName a
{
    color: #fff;
    color: rgba(0,0,0,0.8);
}

 #siteDescription
{
    color: #fff;
}

#themetype #topNavigation li a
{
    color: #333;
    color: rgba(0,0,0,0.8);
    text-shadow: 0px 1px 1px rgba(255,255,255,0.8);
}
#themetype #topNavigation li.current a, #themetype #topNavigation li.current a:hover
{
    color:#000;
}
#themetype #top:before
{
    border-top: solid 89px rgba(255,255,255,0.12);
}

#themetype #topNavigation li.current span.marker, #themetype #topNavigation li.current:after
{
    background: #000 !important;
}

#themetype #comments h3, #themetype #tagcloud h3, #themetype #respond h3, #themetype #sidebar h3, #themetype #tagcloud .alt h3
{
    color: #fff;
    color: rgba(255, 255, 255, 0.9);
    text-shadow: rgba(0,0,0,0.8);
}

#themetype #respond .form-input input:focus, #themetype #respond .form-input textarea:focus
{
    border: 1px solid rgba(255,255,255,0.8);
}

#themetype #respond .form-submit input, #themetype fieldset input[type=submit]
{
    color: rgba(255,255,255,0.8);
    text-shadow: 1px 1px 2px rgba(255,255,255,0.8);
    box-shadow: -1px 1px 8px rgba(255,255,255,0.8);
    -moz-box-shadow: -1px 1px 8px rgba(255,255,255,0.8);
    -webkit-box-shadow: -1px 1px 8px rgba(255,255,255,0.8);
}

 #content.frontPage h3, .author .fn
{
    color: #fff;
}

 .feedList,  #blogSummary, .meta-sep
{
    border-right: 1px solid rgba(255,255,255,0.1);
    color:#2D7293;
}

 #subNavigation li a,  #comments,  #tagcloud,  #sidebar
{
    border-left: 1px solid rgba(255,255,255,0.1);
}

 .entry-meta
{
    border-top: 1px dotted rgba(255,255,255,0.27);
}

 #body h2
{
    color:rgba(255,255,255,0.9);
    border-bottom: 1px dotted rgba(255,255,255, 0.27);
}

 span.blog
{
    background-color: #000;
    -moz-box-shadow: 1px 1px 2px rgba(255,255,255,0.23);
    -webkit-box-shadow: 1px 1px 2px rgba(255,255,255,0.23);
    box-shadow: 1px 1px 2px rgba(255,255,255,0.23);
    background-image: url("/css/feijoa/tinyarrow.png");
    background-position: 8px -38px;
} 

 .entry-date
{
    color: rgba(255,255,255,0.3);
}

 .entry-date .day
{
    color: rgba(255,255,255,0.6);
}



/* umbraco skin overrides after this line */



        #content a, #content a:active, #content a:visited,
        #subNavigation a, #subNavigation a:active, #subNavigation a:visited,
         #content a,  #content a:active,  #content a:visited,
         #subNavigation a,  #subNavigation a:active,  #subNavigation a:visited{color: #cf5b74 !important;}
        #content a:hover,  #content a:hover{color: #ffe3fc !important;}
        #themetype #siteName a{color: #000000 !important;}
        #themetype #topNavigation li a{color:#000000 !important;}

        #top, #themetype #top{
        filter:progid:DXImageTransform.Microsoft.gradient( endColorstr=#c21850 startColorstr=#ffe3d1) !important ;
        -ms-filter:"progid:DXImageTransform.Microsoft.gradient( endColorstr=#c21850 startColorstr=#ffe3d1)" !important ;
        background-color: #ffe3d1 !important ;
        background-image: -moz-linear-gradient(center bottom , #c21850 0%, #ffe3d1 100%) !important ;
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(1, #c21850), color-stop(0, #ffe3d1)) !important ;}

        .top{background-image:url(/css/feijoa/painterly.png) !important ;background-repeat:no-repeat !important;}
        #siteDescription{color: #ffe3fc !important ;}
        #siteDescription{
        text-shadow: 1px 1px 1px rgba(0,0,0,0.17) !important ;
        -moz-text-shadow: 1px 1px 1px rgba(0,0,0,0.17) !important ;
        -webkit-text-shadow: 1px 1px 1px rgba(0,0,0,0.17) !important ;
        }
         #siteDescription{}

        #content .entry-meta a, #content .meta,
        #content a.tagweight0, #content a.tagweight1, #content a.tagweight2,
        #content a.tagweight3, #content a.tagweight4, #content a.tagweight5, .frontPage small
        {color: #fff !important ;background: #cf5b74 !important ;opacity:0.3 !important ;}
        a.tagweight0{opacity:0.1 !important ;}
        a.tagweight1{opacity:0.6 !important ;}
        a.tagweight2, a.tagweight3, a.tagweight4{opacity:1 !important ;}

        .commentlist .photo{border:2px solid #cf5b74 !important ;}

        #commentPosted{
        background: #cf5b74 !important ;
        color: #ffe3fc !important;
        }

        #respond .form-submit input, fieldset input[type=submit]{
        background: #cf5b74 !important ;
        filter:progid:DXImageTransform.Microsoft.gradient( endColorstr=#c21850 startColorstr=#ffe3d1) !important ;
        -ms-filter:"progid:DXImageTransform.Microsoft.gradient( endColorstr=#c21850 startColorstr=#ffe3d1)" !important ;
        background-image: url(/css/feijoa/painterly.png) !important ;
        background-image: -moz-linear-gradient(center bottom , #c21850  0%, #ffe3d1 100%) !important ;
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(1, #c21850), color-stop(0, #ffe3d1)) !important ;
        border:1px solid #cf5b74 !important ;
        }

        .entry-content em{color: #cf5b74 !important;}
        ul.helper-links li a{color: #cf5b74 !important;}

        #footer .colour-filter{
        background: #ffe3d1 !important ;
        filter:progid:DXImageTransform.Microsoft.gradient(endColorstr=#ffe3d1 startColorstr=#c21850) !important ;
        -ms-filter:"progid:DXImageTransform.Microsoft.gradient(endColorstr=#ffe3d1 startColorstr=#c21850)" !important ;
        background-image: -moz-linear-gradient(center bottom , #ffe3d1  0%, #c21850 100%) !important ;
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(1, #ffe3d1), color-stop(0, #c21850)) !important ;
        background-repeat:repeat-x !important ;
        opacity:0.2 !important ;}

        #footer .footer{background-image:url(/css/feijoa/painterly.png) !important ;background-repeat:no-repeat !important ;}

        /*business package specific */
        .frontPage a[href^=http://feeds]{color: #ffe3d1 !important;}


        /* Dark Theme */
        #themetype{color:#fff !important ; color: rgba(255,255,255, 0.37) !important ;}
        #themetype #siteName{text-shadow: 1px 1px 1px rgba(255,255,255,0.37) !important ;}
        #themetype #topNavigation li a{text-shadow:0px 1px 1px rgba(255,255,255,0.37) !important;}
        /*#themetype #top:before{border-color: rgba(255,255,255,0.37)}*/

         .entry-date .day{
        -moz-box-shadow: 1px 1px 5px rgba(255, 255, 255, 0.25) !important ;
        -webkit-box-shadow: 1px 1px 5px rgba(255, 255, 255, 0.25) !important ;
        border-color: rgba(255, 255, 255, 0.5) !important ;}

        #themetype #comments h3, #themetype #tagcloud h3, #themetype #respond h3,
        #themetype #sidebar h3, #themetype #tagcloud .alt h3{
        text-shadow: 0px 1px 1px rgba(0,0,0,0.37) !important ;
        border-bottom: 1px dotted rgba(255, 255, 255, 0.1) !important ;
        color: rgba(255, 255, 255, 0.9) !important ;}

         #content .entry-meta a,  #content .meta,
         #content a.tagweight0,  #content a.tagweight1,  #content a.tagweight2,
         #content a.tagweight3,  #content a.tagweight4,  #content a.tagweight5, .frontPage small{
        color: #000000 !important ;
        background: #cf5b74 !important ;
        opacity:0.4 !important ;}

        #themetype #respond .form-input input:focus, #themetype #respond .form-input textarea:focus{
        border-color:rgba(255,255,255,0.37) !important ;}
        #themetype #respond .form-submit input, #themetype fieldset input[type=submit]{
        text-shadow:1px 1px 2px rgba(255,255,255,0.37) !important ;
        box-shadow: -1px 1px 8px rgba(255,255,255,0.37) !important ;
        -moz-box-shadow: -1px 1px 8px rgba(255,255,255,0.37) !important ;
        -webkit-box-shadow: -1px 1px 8px rgba(255,255,255,0.37) !important ;}
         #topNavigation li a{border: solid 1px rgba(255,255,255,0.12) !important ; background: rgba(255,255,255,0.0.8) !important ;}
         #topNavigation li a:hover, #topNavigation li.current a{
        background: -moz-linear-gradient(center bottom,rgba(255,255,255,0.05) 0%, rgba(255,255,255,0.25) 130%) repeat scroll 0 0 transparent !important ;
        background: -webkit-gradient(linear,left top, left bottom,color-stop(0, rgba(255,255,255,0.25)),color-stop(1, rgba(255,255,255,0.05))) !important ;
        border: solid 1px rgba(255,255,255,0) !important ;}


    