<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root[ 
<!ELEMENT umbHomepage ANY>
<!ATTLIST umbHomepage id ID #REQUIRED>
<!ELEMENT product ANY>
<!ATTLIST product id ID #REQUIRED>
<!ELEMENT productGroup ANY>
<!ATTLIST productGroup id ID #REQUIRED>
<!ELEMENT store ANY>
<!ATTLIST store id ID #REQUIRED>
<!ELEMENT umbTextpage ANY>
<!ATTLIST umbTextpage id ID #REQUIRED>

]>
<root id="-1">
  <umbHomepage id="1051" parentID="-1" level="1" writerID="0" creatorID="0" nodeType="1048" template="1045" sortOrder="0" createDate="2013-01-22T10:04:00" updateDate="2013-01-22T10:05:21" nodeName="Simple website" urlName="simple-website" writerName="Niels Hartvig" creatorName="Niels Hartvig" path="-1,1051" isDoc="">
    <siteName>Dead simple shop</siteName>
    <siteDescription><![CDATA[Just a demo of using the new v6 APIs]]></siteDescription>
    <bodyText><![CDATA[
<p>The Simple Starter Kit gives you a bare-bones website that
introduces you to a set of well-defined conventions for building an
Umbraco website.</p>

<p>The Simple website is very basic in form and provided without
any design or functionality - unless you add a Skin, of course. By
installing the Simple Starter Kit, you'll begin with a minimal site
built on best practices. You'll also enjoy the benefits of speaking
the same "language" as the rest of the Umbraco community by using
common properties and naming conventions.</p>

<p>Now that you know what the Simple site is, it is time to get
started using Umbraco.</p>
]]></bodyText>
    <umbTextpage id="1052" parentID="1051" level="2" writerID="0" creatorID="0" nodeType="1049" template="1047" sortOrder="0" createDate="2013-01-22T10:04:01" updateDate="2013-01-22T10:04:01" nodeName="Go further" urlName="go-further" writerName="Niels Hartvig" creatorName="Niels Hartvig" path="-1,1051,1052" isDoc="">
      <umbracoNaviHide>0</umbracoNaviHide>
      <bodyText><![CDATA[
<p>The Simple Starter Kit only scratches the surface of what's
possible with Umbraco. Below the Simple Starter Kit and its modules
lies a great architecture that lets you implement whatever you
need.</p>

<p>With Umbraco you've finally got a solid, open and reliable
platform for websites as basic as the Simple site, and Umbraco can
be rapidly expanded to support multi-language websites,
collaboration platforms and intra/extranets, to name just a
few.</p>

<p>Advanced functionality is created with Umbraco macros, built
with XSLT and Umbraco's award-winning .NET integration, including
full support for any .NET User or Custom control. Create and
integrate your own .NET macros in mere minutes with point and click
simplicity. Simply copy your controls to the Umbraco website, go to
the <strong>Developer</strong> section and create a new macro,
selecting your control from the list.</p>

<p>You can also use <a
href="http://umbraco.org/help-and-support/video-tutorials/getting-started/working-with-webmatrix"
 title="Working with Razor">Microsoft's Razor</a> syntax to quickly
add dynamic functionality to your site.</p>

<p>We've also gathered the best community macros into a repository
that's also accessed from the <strong>Developer</strong> section,
in the <strong>Packages</strong> area. You can find more
information <a
href="http://umbraco.org/help-and-support/video-tutorials/introduction-to-umbraco/sitebuilder-introduction/what-are-macros"
 title="About creating Umbraco macros">about creating macros</a>,
on the Umbraco website.</p>

<p>The sky is the limit with Umbraco, and you have the benefit a
friendly community, training, and guaranteed support. Find out how
to <a href="http://umbraco.org/help-and-support"
title="Get Umbraco Support">get help</a>.</p>
]]></bodyText>
    </umbTextpage>
    <umbTextpage id="1053" parentID="1051" level="2" writerID="0" creatorID="0" nodeType="1049" template="1047" sortOrder="1" createDate="2013-01-22T10:04:01" updateDate="2013-01-22T10:04:01" nodeName="Getting started" urlName="getting-started" writerName="Niels Hartvig" creatorName="Niels Hartvig" path="-1,1051,1053" isDoc="">
      <umbracoNaviHide>0</umbracoNaviHide>
      <bodyText><![CDATA[
<p>You've installed Umbraco and the basic Simple website.</p>

<p>Edit the text on the homepage and create a site structure by
adding new texpages to your site. This is all done in the
<strong>Content</strong> section.</p>

<p>If you find the editing options provided by the Simple site too
limited for you needs, simply add more properties to the page by
going to the <strong>Settings</strong> section, expanding the
<strong>Document Types</strong> item and adding new properties on
the <strong>Generic Properties</strong> tab. You can find more
information about <a
href="http://umbraco.org/help-and-support/video-tutorials/introduction-to-umbraco/sitebuilder-introduction/document-types"
 title="About Umbraco Document Types">document types and
properties</a> at the <a href="http://umbraco.org"
title="The Umbraco Website">Umbraco website</a>.</p>

<p>You'll probably want to personalize your site by changing the
current design. This is also done in the <strong>Settings</strong>
section, either by editing the CSS styles and HTML templates or by
selecting and applying a Skin. Umbraco uses master templates, so
the main, common markup is placed in the <strong>Starterkit
Master</strong> template, while the Homeage and Textpage have
separate templates for their unique layouts. You can find more
information about <a
href="http://umbraco.org/help-and-support/video-tutorials/introduction-to-umbraco/sitebuilder-introduction/templates"
 title="Umbraco Templates and Stylesheets">templates and css</a> in
umbraco at the umbraco website.</p>

<p>Once you're happy with your site's design, you might want to add
more functionality, such as automated navigation. This is done by
<a
href="http://umbraco.org/help-and-support/video-tutorials/getting-started"
 title="Umbraco Modules">installing Umbraco modules</a>.</p>
]]></bodyText>
    </umbTextpage>
    <store id="1060" parentID="1051" level="2" writerID="0" creatorID="0" nodeType="1054" template="1055" sortOrder="2" createDate="2013-01-22T10:27:38" updateDate="2013-01-22T11:57:31" nodeName="Super Deluxe Store" urlName="super-deluxe-store" writerName="Niels Hartvig" creatorName="Niels Hartvig" path="-1,1051,1060" isDoc="">
      <productGroup id="1061" parentID="1060" level="3" writerID="0" creatorID="0" nodeType="1056" template="1057" sortOrder="0" createDate="2013-01-22T10:28:19" updateDate="2013-01-22T11:50:51" nodeName="Add-ons" urlName="add-ons" writerName="Niels Hartvig" creatorName="Niels Hartvig" path="-1,1051,1060,1061" isDoc="">
        <groupId>6</groupId>
        <product id="1071" parentID="1061" level="4" writerID="0" creatorID="0" nodeType="1058" template="1059" sortOrder="0" createDate="2013-01-22T11:56:23" updateDate="2013-01-22T13:10:08" nodeName="Umbraco Contour" urlName="umbraco-contour" writerName="Niels Hartvig" creatorName="Niels Hartvig" path="-1,1051,1060,1061,1071" isDoc="">
          <productId>6201</productId>
          <originalName>Umbraco Contour</originalName>
          <priceDKK>749</priceDKK>
          <description><![CDATA[]]></description>
          <productImage />
        </product>
        <product id="1072" parentID="1061" level="4" writerID="0" creatorID="0" nodeType="1058" template="1059" sortOrder="1" createDate="2013-01-22T11:56:23" updateDate="2013-01-22T13:10:08" nodeName="Contour extra domain" urlName="contour-extra-domain" writerName="Niels Hartvig" creatorName="Niels Hartvig" path="-1,1051,1060,1061,1072" isDoc="">
          <productId>6202</productId>
          <originalName>Contour extra domain</originalName>
          <priceDKK>449</priceDKK>
          <description><![CDATA[]]></description>
          <productImage />
        </product>
        <product id="1073" parentID="1061" level="4" writerID="0" creatorID="0" nodeType="1058" template="1059" sortOrder="2" createDate="2013-01-22T11:56:23" updateDate="2013-01-22T13:10:08" nodeName="Umbraco Courier" urlName="umbraco-courier" writerName="Niels Hartvig" creatorName="Niels Hartvig" path="-1,1051,1060,1061,1073" isDoc="">
          <productId>6211</productId>
          <originalName>Umbraco Courier</originalName>
          <priceDKK>2999</priceDKK>
          <description><![CDATA[]]></description>
          <productImage />
        </product>
        <product id="1074" parentID="1061" level="4" writerID="0" creatorID="0" nodeType="1058" template="1059" sortOrder="3" createDate="2013-01-22T11:56:23" updateDate="2013-01-22T13:10:08" nodeName="Courier extra domain" urlName="courier-extra-domain" writerName="Niels Hartvig" creatorName="Niels Hartvig" path="-1,1051,1060,1061,1074" isDoc="">
          <productId>6212</productId>
          <originalName>Courier extra domain</originalName>
          <priceDKK>999</priceDKK>
          <description><![CDATA[]]></description>
          <productImage />
        </product>
        <product id="1075" parentID="1061" level="4" writerID="0" creatorID="0" nodeType="1058" template="1059" sortOrder="4" createDate="2013-01-22T11:56:23" updateDate="2013-01-22T13:10:09" nodeName="Umbraco Courier Light" urlName="umbraco-courier-light" writerName="Niels Hartvig" creatorName="Niels Hartvig" path="-1,1051,1060,1061,1075" isDoc="">
          <productId>6213</productId>
          <originalName>Umbraco Courier Light</originalName>
          <priceDKK>749</priceDKK>
          <description><![CDATA[]]></description>
          <productImage />
        </product>
        <product id="1076" parentID="1061" level="4" writerID="0" creatorID="0" nodeType="1058" template="1059" sortOrder="5" createDate="2013-01-22T11:56:24" updateDate="2013-01-22T13:10:09" nodeName="Umbraco Concierge" urlName="umbraco-concierge" writerName="Niels Hartvig" creatorName="Niels Hartvig" path="-1,1051,1060,1061,1076" isDoc="">
          <productId>6221</productId>
          <originalName>Umbraco Concierge</originalName>
          <priceDKK>749</priceDKK>
          <description><![CDATA[]]></description>
          <productImage />
        </product>
        <product id="1077" parentID="1061" level="4" writerID="0" creatorID="0" nodeType="1058" template="1059" sortOrder="6" createDate="2013-01-22T11:56:24" updateDate="2013-01-22T13:10:09" nodeName="Concierge extra domain" urlName="concierge-extra-domain" writerName="Niels Hartvig" creatorName="Niels Hartvig" path="-1,1051,1060,1061,1077" isDoc="">
          <productId>6222</productId>
          <originalName>Concierge extra domain</originalName>
          <priceDKK>499</priceDKK>
          <description><![CDATA[]]></description>
          <productImage />
        </product>
      </productGroup>
      <productGroup id="1062" parentID="1060" level="3" writerID="0" creatorID="0" nodeType="1056" template="1057" sortOrder="1" createDate="2013-01-22T10:28:37" updateDate="2013-01-22T11:50:53" nodeName="Umbraco Pro" urlName="umbraco-pro" writerName="Niels Hartvig" creatorName="Niels Hartvig" path="-1,1051,1060,1062" isDoc="">
        <groupId>3</groupId>
        <product id="1067" parentID="1062" level="4" writerID="0" creatorID="0" nodeType="1058" template="1059" sortOrder="0" createDate="2013-01-22T11:56:23" updateDate="2013-01-22T13:10:08" nodeName="Umbraco Complete" urlName="umbraco-complete" writerName="Niels Hartvig" creatorName="Niels Hartvig" path="-1,1051,1060,1062,1067" isDoc="">
          <productId>6001</productId>
          <originalName>Umbraco Complete</originalName>
          <priceDKK>3800</priceDKK>
          <description><![CDATA[]]></description>
          <productImage />
        </product>
        <product id="1068" parentID="1062" level="4" writerID="0" creatorID="0" nodeType="1058" template="1059" sortOrder="1" createDate="2013-01-22T11:56:23" updateDate="2013-01-22T13:10:08" nodeName="Umbraco Complete Server License" urlName="umbraco-complete-server-license" writerName="Niels Hartvig" creatorName="Niels Hartvig" path="-1,1051,1060,1062,1068" isDoc="">
          <productId>6002</productId>
          <originalName>Umbraco Complete Server License</originalName>
          <priceDKK>60000</priceDKK>
          <description><![CDATA[]]></description>
          <productImage />
        </product>
        <product id="1069" parentID="1062" level="4" writerID="0" creatorID="0" nodeType="1058" template="1059" sortOrder="2" createDate="2013-01-22T11:56:23" updateDate="2013-01-22T13:10:08" nodeName="umbraco Pro with 3 month support" urlName="umbraco-pro-with-3-month-support" writerName="Niels Hartvig" creatorName="Niels Hartvig" path="-1,1051,1060,1062,1069" isDoc="">
          <productId>6003</productId>
          <originalName>umbraco Pro with 3 month support</originalName>
          <priceDKK>11250</priceDKK>
          <description><![CDATA[]]></description>
          <productImage />
        </product>
        <product id="1070" parentID="1062" level="4" writerID="0" creatorID="0" nodeType="1058" template="1059" sortOrder="3" createDate="2013-01-22T11:56:23" updateDate="2013-01-22T13:10:08" nodeName="umbraco Confidence" urlName="umbraco-confidence" writerName="Niels Hartvig" creatorName="Niels Hartvig" path="-1,1051,1060,1062,1070" isDoc="">
          <productId>6004</productId>
          <originalName>umbraco Confidence</originalName>
          <priceDKK>22500</priceDKK>
          <description><![CDATA[]]></description>
          <productImage />
        </product>
        <product id="1078" parentID="1062" level="4" writerID="0" creatorID="0" nodeType="1058" template="1059" sortOrder="4" createDate="2013-01-22T11:56:24" updateDate="2013-01-22T13:10:09" nodeName="Umbraco Gold Partner Subscription" urlName="umbraco-gold-partner-subscription" writerName="Niels Hartvig" creatorName="Niels Hartvig" path="-1,1051,1060,1062,1078" isDoc="">
          <productId>6300</productId>
          <originalName>Umbraco Gold Partner Subscription</originalName>
          <priceDKK>74999</priceDKK>
          <description><![CDATA[]]></description>
          <productImage />
        </product>
      </productGroup>
      <productGroup id="1063" parentID="1060" level="3" writerID="0" creatorID="0" nodeType="1056" template="1057" sortOrder="2" createDate="2013-01-22T10:29:06" updateDate="2013-01-22T11:50:54" nodeName="Umbraco.TV" urlName="umbracotv" writerName="Niels Hartvig" creatorName="Niels Hartvig" path="-1,1051,1060,1063" isDoc="">
        <groupId>4</groupId>
        <product id="1104" parentID="1063" level="4" writerID="0" creatorID="0" nodeType="1058" template="1059" sortOrder="0" createDate="2013-01-22T11:56:25" updateDate="2013-01-22T13:10:10" nodeName="umbraco.tv 3 month subscription" urlName="umbracotv-3-month-subscription" writerName="Niels Hartvig" creatorName="Niels Hartvig" path="-1,1051,1060,1063,1104" isDoc="">
          <productId>7201</productId>
          <originalName>umbraco.tv 3 month subscription</originalName>
          <priceDKK>675</priceDKK>
          <description><![CDATA[]]></description>
          <productImage />
        </product>
        <product id="1105" parentID="1063" level="4" writerID="0" creatorID="0" nodeType="1058" template="1059" sortOrder="1" createDate="2013-01-22T11:56:25" updateDate="2013-01-22T13:10:10" nodeName="umbraco.tv 6 month subscription" urlName="umbracotv-6-month-subscription" writerName="Niels Hartvig" creatorName="Niels Hartvig" path="-1,1051,1060,1063,1105" isDoc="">
          <productId>7202</productId>
          <originalName>umbraco.tv 6 month subscription</originalName>
          <priceDKK>1120</priceDKK>
          <description><![CDATA[]]></description>
          <productImage />
        </product>
        <product id="1106" parentID="1063" level="4" writerID="0" creatorID="0" nodeType="1058" template="1059" sortOrder="2" createDate="2013-01-22T11:56:26" updateDate="2013-01-22T13:10:10" nodeName="umbraco.tv 12 month subscription" urlName="umbracotv-12-month-subscription" writerName="Niels Hartvig" creatorName="Niels Hartvig" path="-1,1051,1060,1063,1106" isDoc="">
          <productId>7203</productId>
          <originalName>umbraco.tv 12 month subscription</originalName>
          <priceDKK>2000</priceDKK>
          <description><![CDATA[]]></description>
          <productImage />
        </product>
        <product id="1107" parentID="1063" level="4" writerID="0" creatorID="0" nodeType="1058" template="1059" sortOrder="3" createDate="2013-01-22T11:56:26" updateDate="2013-01-22T13:10:10" nodeName="umbraco.tv Business 10 accounts" urlName="umbracotv-business-10-accounts" writerName="Niels Hartvig" creatorName="Niels Hartvig" path="-1,1051,1060,1063,1107" isDoc="">
          <productId>7210</productId>
          <originalName>umbraco.tv Business 10 accounts</originalName>
          <priceDKK>14000</priceDKK>
          <description><![CDATA[]]></description>
          <productImage />
        </product>
        <product id="1108" parentID="1063" level="4" writerID="0" creatorID="0" nodeType="1058" template="1059" sortOrder="4" createDate="2013-01-22T11:56:26" updateDate="2013-01-22T13:10:11" nodeName="umbraco.tv Business 5 accounts" urlName="umbracotv-business-5-accounts" writerName="Niels Hartvig" creatorName="Niels Hartvig" path="-1,1051,1060,1063,1108" isDoc="">
          <productId>7211</productId>
          <originalName>umbraco.tv Business 5 accounts</originalName>
          <priceDKK>8000</priceDKK>
          <description><![CDATA[]]></description>
          <productImage />
        </product>
        <product id="1109" parentID="1063" level="4" writerID="0" creatorID="0" nodeType="1058" template="1059" sortOrder="5" createDate="2013-01-22T11:56:26" updateDate="2013-01-22T13:10:11" nodeName="umbraco.tv monthly subscription" urlName="umbracotv-monthly-subscription" writerName="Niels Hartvig" creatorName="Niels Hartvig" path="-1,1051,1060,1063,1109" isDoc="">
          <productId>7220</productId>
          <originalName>umbraco.tv monthly subscription</originalName>
          <priceDKK>149</priceDKK>
          <description><![CDATA[]]></description>
          <productImage />
        </product>
        <product id="1110" parentID="1063" level="4" writerID="0" creatorID="0" nodeType="1058" template="1059" sortOrder="6" createDate="2013-01-22T11:56:26" updateDate="2013-01-22T13:10:11" nodeName="umbraco.tv monthly with 2 month trial" urlName="umbracotv-monthly-with-2-month-trial" writerName="Niels Hartvig" creatorName="Niels Hartvig" path="-1,1051,1060,1063,1110" isDoc="">
          <productId>7225</productId>
          <originalName>umbraco.tv monthly with 2 month trial</originalName>
          <priceDKK>149</priceDKK>
          <description><![CDATA[]]></description>
          <productImage />
        </product>
      </productGroup>
      <productGroup id="1064" parentID="1060" level="3" writerID="0" creatorID="0" nodeType="1056" template="1057" sortOrder="3" createDate="2013-01-22T10:29:15" updateDate="2013-01-22T11:50:56" nodeName="CodeGarden" urlName="codegarden" writerName="Niels Hartvig" creatorName="Niels Hartvig" path="-1,1051,1060,1064" isDoc="">
        <groupId>5</groupId>
        <product id="1088" parentID="1064" level="4" writerID="0" creatorID="0" nodeType="1058" template="1059" sortOrder="0" createDate="2013-01-22T11:56:24" updateDate="2013-01-22T13:10:09" nodeName="umbraco CodeGarden 07" urlName="umbraco-codegarden-07" writerName="Niels Hartvig" creatorName="Niels Hartvig" path="-1,1051,1060,1064,1088" isDoc="">
          <productId>7101</productId>
          <originalName>umbraco CodeGarden 07</originalName>
          <priceDKK>2500</priceDKK>
          <description><![CDATA[]]></description>
          <productImage />
        </product>
        <product id="1089" parentID="1064" level="4" writerID="0" creatorID="0" nodeType="1058" template="1059" sortOrder="1" createDate="2013-01-22T11:56:24" updateDate="2013-01-22T13:10:09" nodeName="umbraco CodeGarden 08 Early Bid" urlName="umbraco-codegarden-08-early-bid" writerName="Niels Hartvig" creatorName="Niels Hartvig" path="-1,1051,1060,1064,1089" isDoc="">
          <productId>7102</productId>
          <originalName>umbraco CodeGarden 08 Early Bid</originalName>
          <priceDKK>1800</priceDKK>
          <description><![CDATA[]]></description>
          <productImage />
        </product>
        <product id="1090" parentID="1064" level="4" writerID="0" creatorID="0" nodeType="1058" template="1059" sortOrder="2" createDate="2013-01-22T11:56:24" updateDate="2013-01-22T13:10:09" nodeName="umbraco CodeGarden 08" urlName="umbraco-codegarden-08" writerName="Niels Hartvig" creatorName="Niels Hartvig" path="-1,1051,1060,1064,1090" isDoc="">
          <productId>7103</productId>
          <originalName>umbraco CodeGarden 08</originalName>
          <priceDKK>2500</priceDKK>
          <description><![CDATA[]]></description>
          <productImage />
        </product>
        <product id="1091" parentID="1064" level="4" writerID="0" creatorID="0" nodeType="1058" template="1059" sortOrder="3" createDate="2013-01-22T11:56:24" updateDate="2013-01-22T13:10:09" nodeName="Umbraco CodeGarden 09 - SUPER EARLY BID" urlName="umbraco-codegarden-09-super-early-bid" writerName="Niels Hartvig" creatorName="Niels Hartvig" path="-1,1051,1060,1064,1091" isDoc="">
          <productId>7104</productId>
          <originalName>Umbraco CodeGarden 09 - SUPER EARLY BID</originalName>
          <priceDKK>1850</priceDKK>
          <description><![CDATA[]]></description>
          <productImage />
        </product>
        <product id="1092" parentID="1064" level="4" writerID="0" creatorID="0" nodeType="1058" template="1059" sortOrder="4" createDate="2013-01-22T11:56:25" updateDate="2013-01-22T13:10:10" nodeName="Umbraco CodeGarden 09 - EARLY BID" urlName="umbraco-codegarden-09-early-bid" writerName="Niels Hartvig" creatorName="Niels Hartvig" path="-1,1051,1060,1064,1092" isDoc="">
          <productId>7105</productId>
          <originalName>Umbraco CodeGarden 09 - EARLY BID</originalName>
          <priceDKK>2250</priceDKK>
          <description><![CDATA[]]></description>
          <productImage />
        </product>
        <product id="1093" parentID="1064" level="4" writerID="0" creatorID="0" nodeType="1058" template="1059" sortOrder="5" createDate="2013-01-22T11:56:25" updateDate="2013-01-22T13:10:10" nodeName="Umbraco CodeGarden 09" urlName="umbraco-codegarden-09" writerName="Niels Hartvig" creatorName="Niels Hartvig" path="-1,1051,1060,1064,1093" isDoc="">
          <productId>7106</productId>
          <originalName>Umbraco CodeGarden 09</originalName>
          <priceDKK>2900</priceDKK>
          <description><![CDATA[]]></description>
          <productImage />
        </product>
        <product id="1094" parentID="1064" level="4" writerID="0" creatorID="0" nodeType="1058" template="1059" sortOrder="6" createDate="2013-01-22T11:56:25" updateDate="2013-01-22T13:10:10" nodeName="Umbraco CodeGarden 10 - SUPER EARLY BID" urlName="umbraco-codegarden-10-super-early-bid" writerName="Niels Hartvig" creatorName="Niels Hartvig" path="-1,1051,1060,1064,1094" isDoc="">
          <productId>7107</productId>
          <originalName>Umbraco CodeGarden 10 - SUPER EARLY BID</originalName>
          <priceDKK>1875</priceDKK>
          <description><![CDATA[]]></description>
          <productImage />
        </product>
        <product id="1095" parentID="1064" level="4" writerID="0" creatorID="0" nodeType="1058" template="1059" sortOrder="7" createDate="2013-01-22T11:56:25" updateDate="2013-01-22T13:10:10" nodeName="Umbraco CodeGarden 10 - EARLY BIRD" urlName="umbraco-codegarden-10-early-bird" writerName="Niels Hartvig" creatorName="Niels Hartvig" path="-1,1051,1060,1064,1095" isDoc="">
          <productId>7108</productId>
          <originalName>Umbraco CodeGarden 10 - EARLY BIRD</originalName>
          <priceDKK>3375</priceDKK>
          <description><![CDATA[]]></description>
          <productImage />
        </product>
        <product id="1096" parentID="1064" level="4" writerID="0" creatorID="0" nodeType="1058" template="1059" sortOrder="8" createDate="2013-01-22T11:56:25" updateDate="2013-01-22T13:10:10" nodeName="Umbraco CodeGarden 10" urlName="umbraco-codegarden-10" writerName="Niels Hartvig" creatorName="Niels Hartvig" path="-1,1051,1060,1064,1096" isDoc="">
          <productId>7109</productId>
          <originalName>Umbraco CodeGarden 10</originalName>
          <priceDKK>4125</priceDKK>
          <description><![CDATA[]]></description>
          <productImage />
        </product>
        <product id="1097" parentID="1064" level="4" writerID="0" creatorID="0" nodeType="1058" template="1059" sortOrder="9" createDate="2013-01-22T11:56:25" updateDate="2013-01-22T13:10:10" nodeName="Umbraco CodeGarden 10 - coverage" urlName="umbraco-codegarden-10-coverage" writerName="Niels Hartvig" creatorName="Niels Hartvig" path="-1,1051,1060,1064,1097" isDoc="">
          <productId>7110</productId>
          <originalName>Umbraco CodeGarden 10 - coverage</originalName>
          <priceDKK>499</priceDKK>
          <description><![CDATA[]]></description>
          <productImage />
        </product>
        <product id="1098" parentID="1064" level="4" writerID="0" creatorID="0" nodeType="1058" template="1059" sortOrder="10" createDate="2013-01-22T11:56:25" updateDate="2013-01-22T13:10:10" nodeName="Umbraco CodeGarden 11 - SUPER EARLY BID" urlName="umbraco-codegarden-11-super-early-bid" writerName="Niels Hartvig" creatorName="Niels Hartvig" path="-1,1051,1060,1064,1098" isDoc="">
          <productId>7111</productId>
          <originalName>Umbraco CodeGarden 11 - SUPER EARLY BID</originalName>
          <priceDKK>2200</priceDKK>
          <description><![CDATA[]]></description>
          <productImage />
        </product>
        <product id="1099" parentID="1064" level="4" writerID="0" creatorID="0" nodeType="1058" template="1059" sortOrder="11" createDate="2013-01-22T11:56:25" updateDate="2013-01-22T13:10:10" nodeName="Umbraco CodeGarden 11 - EARLY BIRD" urlName="umbraco-codegarden-11-early-bird" writerName="Niels Hartvig" creatorName="Niels Hartvig" path="-1,1051,1060,1064,1099" isDoc="">
          <productId>7112</productId>
          <originalName>Umbraco CodeGarden 11 - EARLY BIRD</originalName>
          <priceDKK>3700</priceDKK>
          <description><![CDATA[]]></description>
          <productImage />
        </product>
        <product id="1100" parentID="1064" level="4" writerID="0" creatorID="0" nodeType="1058" template="1059" sortOrder="12" createDate="2013-01-22T11:56:25" updateDate="2013-01-22T13:10:10" nodeName="Umbraco CodeGarden 11" urlName="umbraco-codegarden-11" writerName="Niels Hartvig" creatorName="Niels Hartvig" path="-1,1051,1060,1064,1100" isDoc="">
          <productId>7113</productId>
          <originalName>Umbraco CodeGarden 11</originalName>
          <priceDKK>4400</priceDKK>
          <description><![CDATA[]]></description>
          <productImage />
        </product>
        <product id="1101" parentID="1064" level="4" writerID="0" creatorID="0" nodeType="1058" template="1059" sortOrder="13" createDate="2013-01-22T11:56:25" updateDate="2013-01-22T13:10:10" nodeName="Umbraco CodeGarden 11 Partner" urlName="umbraco-codegarden-11-partner" writerName="Niels Hartvig" creatorName="Niels Hartvig" path="-1,1051,1060,1064,1101" isDoc="">
          <productId>7115</productId>
          <originalName>Umbraco CodeGarden 11 Partner</originalName>
          <priceDKK>11100</priceDKK>
          <description><![CDATA[]]></description>
          <productImage />
        </product>
        <product id="1102" parentID="1064" level="4" writerID="0" creatorID="0" nodeType="1058" template="1059" sortOrder="14" createDate="2013-01-22T11:56:25" updateDate="2013-01-22T13:10:10" nodeName="Umbraco CodeGarden 12 - SUPER EARLY BID" urlName="umbraco-codegarden-12-super-early-bid" writerName="Niels Hartvig" creatorName="Niels Hartvig" path="-1,1051,1060,1064,1102" isDoc="">
          <productId>7121</productId>
          <originalName>Umbraco CodeGarden 12 - SUPER EARLY BID</originalName>
          <priceDKK>2200</priceDKK>
          <description><![CDATA[]]></description>
          <productImage />
        </product>
        <product id="1103" parentID="1064" level="4" writerID="0" creatorID="0" nodeType="1058" template="1059" sortOrder="15" createDate="2013-01-22T11:56:25" updateDate="2013-01-22T13:10:10" nodeName="Umbraco CodeGarden 13 - SUPER EARLY BID" urlName="umbraco-codegarden-13-super-early-bid" writerName="Niels Hartvig" creatorName="Niels Hartvig" path="-1,1051,1060,1064,1103" isDoc="">
          <productId>7131</productId>
          <originalName>Umbraco CodeGarden 13 - SUPER EARLY BID</originalName>
          <priceDKK>2200</priceDKK>
          <description><![CDATA[]]></description>
          <productImage />
        </product>
      </productGroup>
      <productGroup id="1065" parentID="1060" level="3" writerID="0" creatorID="0" nodeType="1056" template="1057" sortOrder="4" createDate="2013-01-22T10:30:13" updateDate="2013-01-22T11:50:58" nodeName="Training" urlName="training" writerName="Niels Hartvig" creatorName="Niels Hartvig" path="-1,1051,1060,1065" isDoc="">
        <groupId>1</groupId>
        <product id="1079" parentID="1065" level="4" writerID="0" creatorID="0" nodeType="1058" template="1059" sortOrder="0" createDate="2013-01-22T11:56:24" updateDate="2013-01-22T13:10:09" nodeName="Certification Test" urlName="certification-test" writerName="Niels Hartvig" creatorName="Niels Hartvig" path="-1,1051,1060,1065,1079" isDoc="">
          <productId>7007</productId>
          <originalName>Certification Test</originalName>
          <priceDKK>2500</priceDKK>
          <description><![CDATA[]]></description>
          <productImage />
        </product>
        <product id="1080" parentID="1065" level="4" writerID="0" creatorID="0" nodeType="1058" template="1059" sortOrder="1" createDate="2013-01-22T11:56:24" updateDate="2013-01-22T13:10:09" nodeName="umbraco course level 1 + certification" urlName="umbraco-course-level-1-plus-certification" writerName="Niels Hartvig" creatorName="Niels Hartvig" path="-1,1051,1060,1065,1080" isDoc="">
          <productId>7012</productId>
          <originalName>umbraco course level 1 + certification</originalName>
          <priceDKK>6800</priceDKK>
          <description><![CDATA[]]></description>
          <productImage />
        </product>
        <product id="1081" parentID="1065" level="4" writerID="0" creatorID="0" nodeType="1058" template="1059" sortOrder="2" createDate="2013-01-22T11:56:24" updateDate="2013-01-22T13:10:09" nodeName="umbraco course level 2 + certification" urlName="umbraco-course-level-2-plus-certification" writerName="Niels Hartvig" creatorName="Niels Hartvig" path="-1,1051,1060,1065,1081" isDoc="">
          <productId>7014</productId>
          <originalName>umbraco course level 2 + certification</originalName>
          <priceDKK>6800</priceDKK>
          <description><![CDATA[]]></description>
          <productImage />
        </product>
        <product id="1082" parentID="1065" level="4" writerID="0" creatorID="0" nodeType="1058" template="1059" sortOrder="3" createDate="2013-01-22T11:56:24" updateDate="2013-01-22T13:10:09" nodeName="umbraco course level 1 + certification (Benelux)" urlName="umbraco-course-level-1-plus-certification-(benelux)" writerName="Niels Hartvig" creatorName="Niels Hartvig" path="-1,1051,1060,1065,1082" isDoc="">
          <productId>7022</productId>
          <originalName>umbraco course level 1 + certification (Benelux)</originalName>
          <priceDKK>6800</priceDKK>
          <description><![CDATA[]]></description>
          <productImage />
        </product>
        <product id="1083" parentID="1065" level="4" writerID="0" creatorID="0" nodeType="1058" template="1059" sortOrder="4" createDate="2013-01-22T11:56:24" updateDate="2013-01-22T13:10:09" nodeName="umbraco course level 2 + certification (Benelux)" urlName="umbraco-course-level-2-plus-certification-(benelux)" writerName="Niels Hartvig" creatorName="Niels Hartvig" path="-1,1051,1060,1065,1083" isDoc="">
          <productId>7024</productId>
          <originalName>umbraco course level 2 + certification (Benelux)</originalName>
          <priceDKK>6800</priceDKK>
          <description><![CDATA[]]></description>
          <productImage />
        </product>
        <product id="1084" parentID="1065" level="4" writerID="0" creatorID="0" nodeType="1058" template="1059" sortOrder="5" createDate="2013-01-22T11:56:24" updateDate="2013-01-22T13:10:09" nodeName="umbraco course level 1 + certification (spain / portugal)" urlName="umbraco-course-level-1-plus-certification-(spain-portugal)" writerName="Niels Hartvig" creatorName="Niels Hartvig" path="-1,1051,1060,1065,1084" isDoc="">
          <productId>7026</productId>
          <originalName>umbraco course level 1 + certification (spain / portugal)</originalName>
          <priceDKK>6800</priceDKK>
          <description><![CDATA[]]></description>
          <productImage />
        </product>
        <product id="1085" parentID="1065" level="4" writerID="0" creatorID="0" nodeType="1058" template="1059" sortOrder="6" createDate="2013-01-22T11:56:24" updateDate="2013-01-22T13:10:09" nodeName="umbraco course level 2 + certification (spain / portugal)" urlName="umbraco-course-level-2-plus-certification-(spain-portugal)" writerName="Niels Hartvig" creatorName="Niels Hartvig" path="-1,1051,1060,1065,1085" isDoc="">
          <productId>7028</productId>
          <originalName>umbraco course level 2 + certification (spain / portugal)</originalName>
          <priceDKK>6800</priceDKK>
          <description><![CDATA[]]></description>
          <productImage />
        </product>
        <product id="1086" parentID="1065" level="4" writerID="0" creatorID="0" nodeType="1058" template="1059" sortOrder="7" createDate="2013-01-22T11:56:24" updateDate="2013-01-22T13:10:09" nodeName="Upgrade course" urlName="upgrade-course" writerName="Niels Hartvig" creatorName="Niels Hartvig" path="-1,1051,1060,1065,1086" isDoc="">
          <productId>7030</productId>
          <originalName>Upgrade course</originalName>
          <priceDKK>6800</priceDKK>
          <description><![CDATA[]]></description>
          <productImage />
        </product>
        <product id="1087" parentID="1065" level="4" writerID="0" creatorID="0" nodeType="1058" template="1059" sortOrder="8" createDate="2013-01-22T11:56:24" updateDate="2013-01-22T13:10:09" nodeName="Upgrade course BE" urlName="upgrade-course-be" writerName="Niels Hartvig" creatorName="Niels Hartvig" path="-1,1051,1060,1065,1087" isDoc="">
          <productId>7031</productId>
          <originalName>Upgrade course BE</originalName>
          <priceDKK>6800</priceDKK>
          <description><![CDATA[]]></description>
          <productImage />
        </product>
      </productGroup>
    </store>
  </umbHomepage>
</root>